<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal-{{post_data.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">タスクの削除</h5>
            </div>
            <div class="modal-body">
                <p>タスク名: {{post_data.title}}<br>
                    を本当に削除しますか？</p>
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'app:post_delete' post_data.pk %}">{% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-danger">削除</button>
                    </form>
                </div>
        </div>
    </div>
</div>
